
@import "../public/assets/css/tailwind.min.css";
@import "../public/assets/css/modern.min.css";
@import "../public/assets/css/style.min.css";
@import "../public/assets/css/animate.min.css";

/* Hiding the Input Number Arrow UI */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}